\aiomatic-automatic-ai-content-writer\languages
\aiomatic-automatic-ai-content-writer\scripts
\aiomatic-automatic-ai-content-writer\res\encoder.json
\aiomatic-automatic-ai-content-writer\res\simplepie
\aiomatic-automatic-ai-content-writer\res\tokenizer
\aiomatic-automatic-ai-content-writer\res\readability
\restrict-content-pro\core\*
!\restrict-content-pro\core\includes\admin\member*
!\restrict-content-pro\core\includes\member*
\restrict-content-pro\languages
