\aiomatic-automatic-ai-content-writer\languages
\aiomatic-automatic-ai-content-writer\scripts
\aiomatic-automatic-ai-content-writer\res\encoder.json
\aiomatic-automatic-ai-content-writer\res\simplepie
\aiomatic-automatic-ai-content-writer\res\tokenizer
\aiomatic-automatic-ai-content-writer\res\readability
\restrict-content-pro\*
